[user]
	name = Ben Janecke
	email = benjanecke@gmail.com
[color]
	ui = true
[push]
	default = current
[core]
	editor = vim
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
